html,
body {
	font-size: 10px;
	font-family: "Barlow", sans-serif;
}

h1 {
	font-size: 3.6rem;
	margin-bottom: 10px;
}

h2 {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: 10px;
}

p {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

a {
	display: block;
	font-size: 1.6rem;
	margin-bottom: 10px;
}
